* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    z-index: 100;
}

.hero-image {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.hero-image::after {
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.service-session {
    background-color: rgb(229, 238, 238);
}

.service-session h4:hover {
    color: lightskyblue;
    transition: 0.5s;
}